<!DOCTYPE html>
<html lang="en">
<?php
include 'head.phtml';
?>
<body>
<form method="get" action="/index.php">
    <input type="hidden" name="location" value="<?php echo $location ?>">
    <input type="hidden" name="action" value="depositmoney">
    <input type="hidden" name="<?php echo DRUGS; ?>" value="<?php echo urlencode(base64_encode(serialize($drugs))); ?>">
    <label>
        <?php echo DEPOSIT; ?>
        <input name="count" type="number" value="0" min="0" max="<?php echo $money?>">
    </label> <!-- Todo max definieren -->
    <button name="submit" type="submit"><?php echo SUBMIT ?></button>
</form>
</body>
</html>