<?php
function generateLink(string $action, string $location, array $drugs, array $else = array()) : string {
    return "index.php?" . http_build_query(array_merge(array(
            "location" => $location,
            "action" => $action,
            DRUGS => urlencode(base64_encode(serialize($drugs))),
        ), $else));
}
?>

<!DOCTYPE html>
<html lang="en">
<?php
include 'head.phtml';
?>
<body style="margin: 10px">
<div class="container">
    <div class="row">
        <div class=".col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th><?php echo DRUGS_AVAILABLE_TEXT ?></th>
                    <th><?php echo DRUGS_CARRIED_TEXT ?></th>
                    <th><?php echo GAME_STATE_TEXT ?></th>
                </tr>
                </thead>
                <tbody>
                <?php
                $table = "";
                $drugsIt = (new ArrayObject($drugs))->getIterator();;
                $carriedDrugsIt = (new ArrayObject($carriedDrugs))->getIterator();

                $max = max(sizeof($drugs), sizeof($carriedDrugs), 8);

                for($i = 0;$i < $max;$i++){
                    $table .= "<tr><td>";
                    $table .= $drugsIt->valid() ? $drugsIt->key() . ": " . $drugsIt->current() . "$&#09;<a href=\"" . generateLink("buy", $location, $drugs, array("buydrug" => $drugsIt->key())) . "\" class=\"button\">" . BUY . "</a>" : "";
                    $table .= "</td><td>";
                    $table .= $carriedDrugsIt->valid() ? $carriedDrugsIt->key() . ": " . $carriedDrugsIt->current() . "&#09;<a href=\"" . generateLink("sell", $location, $drugs, array("selldrug" => $carriedDrugsIt->key())) . "\" class=\"button\">" . SELL . "</a>" : "";
                    $table .= "</td><td>";
                    switch ($i){
                        case 0:
                            $table .= MONEY . " : " . $money;
                            break;
                        case 1:
                            $table .= BANK . " : " . $bank;
                            break;
                        case 2:
                            $table .= DEPT . " : " . $dept;
                            break;
                        case 3:
                            $table .= DAY . " : " . $day;
                            break;
                        case 4:
                            $table .= AVAILABLE_SPACE . " : " . $availableSpace;
                            break;
                        case 5:
                            $table .= HEALTH . " : " . $health;
                            break;
                        case 6:
                            $table .= GUNS . " : " . $guns;
                            break;
                        case 7:
                            $table .= BITCHES . " : " . $bitches;
                            break;
                        default:
                            break;
                    }
                    $table .= "</td></tr>";
                    $drugsIt->next();
                    $carriedDrugsIt->next();
                }
                echo $table;
                ?>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <?php
            foreach (array_reverse($messages) as $message) {
                ?>
                <ul class="list-group">
                    <li class="list-group-item">
                        <?php
                        echo $message;
                        ?>
                    </li>
                </ul>
                <?php
            }
            ?>
        </div>

        <div class="col-md-6">
            <form method="get" action="/index.php">
                <input type="hidden" name="action" value="newday">
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo BRONX ?>" checked>
                    <label for="location">
                        <?php echo BRONX ?>
                    </label>
                </div>
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo BROOKLYN ?>">
                    <label for="location">
                        <?php echo BROOKLYN ?>
                    </label>
                </div>
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo CENTRAL_PARK ?>">
                    <label for="location">
                        <?php echo CENTRAL_PARK ?>
                    </label>
                </div>
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo CONEY_ISLAND ?>">
                    <label for="location">
                        <?php echo CONEY_ISLAND ?>
                    </label>
                </div>
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo GHETTO ?>">
                    <label for="location">
                        <?php echo GHETTO ?>
                    </label>
                </div>
                <div class="form-group">
                    <input type="radio" name="location" id="location" value="<?php echo MANHATTAN ?>">
                    <label for="location">
                        <?php echo MANHATTAN ?>
                    </label>
                </div>
                <button name="submit" type="submit" class="btn btn-primary"><?php echo SUBMIT ?></button>
            </form>
        </div>
        <div class="col-md-6">
            <?php
            if ($location == MANHATTAN){
                echo "<a href=\"" . generateLink("deposit", $location, $drugs) . "\" class=\"button\">" . DEPOSIT . "</a><br>";
                echo "<a href=\"" . generateLink("withdraw", $location, $drugs) . "\" class=\"button\">" . WITHDRAW . "</a><br>";
            } elseif ($location == BRONX)
                echo "<a href=\"" . generateLink("clear", $location, $drugs) . "\" class=\"button\">" . CLEAR . "</a><br>";
            elseif ($location == GHETTO)
                echo "<a href=\"" . generateLink("buybitches", $location, $drugs) . "\" class=\"button\">" . BUYBITCHES . "</a><br>";
            elseif ($location == BROOKLYN)
                echo "<a href=\"" . generateLink("buygun", $location, $drugs) . "\" class=\"button\">" . BUYGUN . "</a><br>";
            elseif ($location == CENTRAL_PARK)
                echo "<a href=\"" . generateLink("heal", $location, $drugs) . "\" class=\"button\">" . HEAL . "</a><br>";
            ?>
        </div>
    </div>
</div>
</body>
</html>