<!DOCTYPE html>
<html lang="en">
<?php
include 'head.phtml';
?>
<body>
<h1><?php echo WIN ?></h1>
<h2><?php echo MONEY . ": " . (string) (($money + $bank) - $dept); ?></h2>
<a href="/restart.php">OK</a>
</body>
</html>
